<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FreshNews - Notícia Completa</title>
  <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
</head>
<body class="body">
  
  <header class="header">
    <div class="logo"><span>Fresh</span>News</div>
  </header>

  <nav class="nav">
    <ul class="nav-ul">
      <li class="nav-li"><a href="{{ url_for('mpa_home') }}" class="nav-a">Home</a></li>
      <li><a href="{{ url_for('mpa_entretenimento') }}" class="nav-a">Entretenimento</a></li>
      <li><a href="{{ url_for('mpa_politica') }}" class="nav-a">Política</a></li>
      <li><a href="{{ url_for('mpa_esportes') }}" class="nav-a">Esporte</a></li>
      <li><a href="{{ url_for('mpa_receitas') }}" class="nav-a">Receitas</a></li>
    </ul>
    <div class="user"><h2>{{ session['username'] }}</h2></div>
    <div class="sair"><h2><a href="/logout">Sair</a></h2></div>
  </nav>


 
  <div class="categoria-titulo">
    <h2>Confira as notícias mais recentes de política</h2>
    <div class="linha-laranja"></div>
  </div>



  <div class="breadcrumb">
    <a href="#">Home</a> > <a href="#">Entretenimento</a> > Últimas Notícias
  </div>


  <main class="main">
    <section class="cards">
      <div class="card" onclick="window.location.href='entretenimento.html'">
        <div class="card-image">
          <img src="https://s2-oglobo.glbimg.com/3sq6KHo_tnQxWgoKxeHN7FHsNPE=/0x0:4000x2400/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2025/Z/o/JZbfIARbCNubytXgZd6g/109685606-files-combo-this-combination-of-pictures-created-on-november-07-2024-shows-former-us-p.jpg" alt="Presidente dos Estados Unidos e presidente da China em uma imagem" />
        </div>
        <div class="card-content">
          <span class="category-tag">Política</span>
          <h3>Análise: Exibição militar da China mostra risco da política de tarifas de Trump</h3>
          <p>O poderio militar da República Popular da China foi plenamente exibido em um desfile que marcou o 80º aniversário do fim da Segunda Guerra Mundial na quarta-feira (3/9).</p>
          <p class="date">Publicado em: 16/01/2025 • Há 3 horas</p>
        </div>
      </div>


    
      <div class="card" onclick="window.location.href='politica.html'">
        <div class="card-image">
          <img src="https://imagens.ebc.com.br/wz14xMNxx9p4DjvLOkLFQkC-lZA=/1170x700/smart/https://agenciabrasil.ebc.com.br/sites/default/files/thumbnails/image/lula-e-maduro2_mcamgo_abr_29052023-15.jpg?itok=JIm-rCLy" alt="Presidente Lula" />
        </div>
        <div class="card-content">
          <span class="category-tag">Política</span>
          <h3>Lula publica artigo para Trump no New York Times e diz que soberania do Brasil é inegociável</h3>
          <p>O texto opinativo foi publicado no jornal neste domingo, 14, e, na primeira frase, diz que o objetivo é estabelecer diálogo “aberto e franco” com o presidente dos Estados Unidos.</p>
          <p class="date">Publicado em: 16/01/2025 • Há 5 horas</p>
        </div>
      </div>


     
      <div class="card" onclick="window.location.href='esportes.html'">
        <div class="card-image">
          <img src="https://veja.abril.com.br/wp-content/uploads/2025/05/2D-4-LULA-VELORIA-PAPA-b.jpg.jpg?quality=70&strip=info&w=1048&h=720&crop=1" alt="Imagem do Presidente Lula" />
        </div>
        <div class="card-content">
          <span class="category-tag">Política</span>
          <h3>Lula caiu na própria armadilha no caso da roubalheira no INSS</h3>
          <p>Presidente fez carreira jurando proteger os mais necessitados, que, sabe-se agora, foram roubados também em seu governo</p>
          <p class="date">Publicado em: 15/01/2025 • Há 1 dia</p>
        </div>
      </div>


    
      <div class="card" onclick="window.location.href='receitas.html'">
        <div class="card-image">
          <img src="https://www.olhardireto.com.br/imgsite/noticias/SAMANTHA(1).jpg" alt="Samantha defende fortalecimento do agronegócio e presença feminina na política" />
        </div>
        <div class="card-content">
          <span class="category-tag">Política</span>
          <h3>Samantha defende fortalecimento do agronegócio e presença feminina na política</h3>
          <p>A primeira-dama de Cuiabá e vereadora, Samantha Iris, participou na sexta-feira (12) do Congresso Prefeitos do Agro.</p>
          <p class="date">Publicado em: 16/01/2025 • Há 2 horas</p>
        </div>
      </div>
    </section>
  </main>


 
  <footer class="footer">
    <div class="footer-content">
      <p><strong>FreshNews - Sua fonte confiável de informação</strong></p>
      <div class="footer-links">
        <a href="#">Política de Privacidade</a> |
        <a href="#">Termos de Uso</a> |
        <a href="#">Anuncie</a> |
        <a href="#">Contato</a>
      </div>
      <div class="copyright">
        © 2025 FreshNews - Todos os direitos reservados
      </div>
    </div>
  </footer>


</body>
</html>
