<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FreshNews - Login</title>
  <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
</head>
<body class="body2">
  <div class="escolha-container">
    <div class="bemvindo">
      <h1><span>Escolha sua renderização</span></h1>
    </div>
   
  <form action="{{ url_for('mpa_home') }}" method="get">
    <button type="submit" class="escolha-button">MPA</button>
  </form>

  <form action="{{ url_for('ssr_home') }}" method="get">
    <button type="submit" class="escolha-button">SSR</button>
  </form>

  <form action="{{ url_for('csr_home') }}" method="get">
    <button type="submit" class="escolha-button">CSR</button>
  </form>

   
    <div class="footer-links">
  
    </div>
  </div>


</body>
</html>


