<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FreshNews - Notícia Completa</title>
  <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
</head>
<body class="body">
  
  <header class="header">
    <div class="logo"><span>Fresh</span>News</div>
  </header>

  <nav class="nav">
   
    <ul class="nav-ul">
    <li><a class="nav-a" data-categoria="home">Home</a></li>
    <li><a class="nav-a" data-categoria="entretenimento">Entretenimento</a></li>
    <li><a class="nav-a" data-categoria="politica">Política</a></li>
    <li><a class="nav-a" data-categoria="esporte">Esporte</a></li>
    <li><a class="nav-a" data-categoria="receitas">Receitas</a></li>
    </ul>

  </nav>

 
  <div class="categoria-titulo">
    <h2>Olá, usuário!</h2>
    <div class="linha-laranja"></div>
  </div>


<main class="main">
    <h2>Notícias Iniciais (Servidor)</h2>
    <section id="noticias-servidor" class="cards">
      {% for noticia in noticias %}

        <div class="card">
            <div class="card-content">
                <h3>{{ noticia.titulo }}</h3>
                <p>{{ noticia.conteudo }}</p>
            </div>
        </div>

      {% endfor %}
    </section>

    <h2>Notícias Extras (Carregadas no Cliente)</h2>
    <section id="noticias-cliente" class="cards">
      <!-- JavaScript vai inserir aqui -->
    </section>
  </main>


 
  <footer class="footer">
    <div class="footer-content">
      <p><strong>FreshNews - Sua fonte confiável de informação</strong></p>
      <div class="footer-links">
        <a href="#">Política de Privacidade</a> |
        <a href="#">Termos de Uso</a> |
        <a href="#">Anuncie</a> |
        <a href="#">Contato</a>
      </div>
      <div class="copyright">
        © 2025 FreshNews - Todos os direitos reservados
      </div>
    </div>
  </footer>

<script src="static/js/script.js"></script>
</body>
</html>
